@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Inter:wght@300;400;500;600;700;800 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor0: #d1f4ff;
    --cor1: #08a0e9;
    --cor2: #005eff;
    --cor3: #2d85a8;
    --cor4: #797979;
    --cor5: #fff8f7;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

main {
    background-color: var(--cor5);
    height: 1150px;
}

header {
    display: flex;
    justify-content: space-between;
    
    padding: 20px;
    background-color: var(--cor5);
}

.title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--cor2);
}

.top-bar {display: none;}

.right-img img{
    width: 90%;
    margin: 10px 5%;
}

.bloco-1 h1 {
    letter-spacing: 0.6px;

    font-size: 2rem;
    width: 75%;
    margin: 30px 5% 0px;
}

.bloco-1 p {
    line-height: 22px;
    letter-spacing: 0.6px;
    text-align: justify;
    color: var(--cor4);

    max-width: 90%;
    margin: 10px 5% 20px;
}

.bloco-1 span {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;

    margin: 20px 0px;
}

.bloco-1 span a{
    color: var(--cor3);
    font-weight: 700;
    text-decoration: none;
    
    margin: 0px 2% 0px 37%;
}

.links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;

    background-color: var(--cor1);
    padding: 20px;
    margin: 0 4%;

    border-radius: 10px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.perfis {
    height: 100%; 
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
    align-items: center;

    margin: 20px 5%;
}

.foto {
    border: 0px solid white;
    border-radius: 50%;
    margin-right: -25px;
    z-index: 1;
}

.foto:nth-child(1) { z-index: 9; }
.foto:nth-child(2) { z-index: 8; }
.foto:nth-child(3) { z-index: 7; }
.foto:nth-child(4) { z-index: 6; }
.foto:nth-child(5) { z-index: 5; }
.foto:nth-child(6) { z-index: 4; }
.foto:nth-child(7) { z-index: 3; }
.foto:nth-child(8) { z-index: 2; }
.foto:nth-child(9) { z-index: 1; }

.footer-perfis strong {color: var(--cor3);}

.bloco-2-header  {
    font-size: 1rem;
    
    margin: 30px 5%;
}

.bloco-2 {
    margin: 40px 5%;
    max-width: 90%;
}

.bloco-2 div {
    border: 1px solid lightgray;
    border-radius: 10px;

    margin: 30px 0px 0px;
    padding: 20px;

    height: 220px;
}

.bloco-2 div h4 {
    margin: 10px 0px;
    font-weight: 700;
}

.bloco-2 div p {
    line-height: 25px;
    color: var(--cor4);
    text-align: justify;
}

.emoji {font-size: 40px;}

aside {
    padding: 40px 5%;
    background-color: var(--cor0);
}

aside h1{font-size: 2rem;}

.comment {
    background-color: white;

    margin: 30px 0px;
    padding: 30px;

    display: flex;
    flex-direction: column;

    border-radius: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 70px;
    height: 70px;
}

.user-details h3 {
    margin: 0;
    font-size: 18px;
}

.user-details p {
    margin: 0;
    color: var(--cor4);
}

.twitter-icon img {
    position: relative;
    top: -50px; 
    left: 92%;
}

.comment-content {
    margin-top: -10px;

    font-size: 1.2rem;
    letter-spacing: 0.5px;
    color: var(--cor4);
}

.comment-content p {
    margin: 0;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.likes {
    display: flex;
    align-items: center;

    color: var(--cor4);
}

.likes img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.post-date p {
    color: var(--cor4);
}

.plans {
    padding: 40px 5%;
}

.plans h1 {
    font-size: 2rem;
    text-align: center;
}

.plans p {
    margin: 20px 0px;
    color: var(--cor4);

    text-align: center;
}

.price-card {
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    background-color: var(--cor5)
}

.price-card h2 {
    color: var(--cor4);
    font-weight: 100;
    font-size: 24px;
    text-align: left;

    margin: 0;
    padding: 10px;
}

.price-card .links {
    margin-top: 20px;
}

.price {
    font-size: 36px;
    text-align: left;

    margin: -10px 8px;
    padding: 0px 0px 20px 0px;
}

.price-big {
    font-size: 3.5rem;
    font-weight: 600;
}

.price-small {
    font-size: 18px;
    color: #777;
}

.features {
    list-style: none;
    color: var(--cor4);
}

.features li {
    display: flex;
    align-items: center;

    margin: 10px -20px;
    padding: 10px 20px;

    text-align: left;
    letter-spacing: 0.5px;
}

.features li img {
    margin-right: 10px;
}

footer {
    background-color: var(--cor0);
    padding: 20px 0px;
}

footer .title {
    margin: 0 5%;
}

footer a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.terms {
    display: flex;
    justify-content: space-evenly;
    margin: 20px -45px;
}