@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    --cor0: #797979;
}

body {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;

    padding: 20px;
    background-color: #fffbf5;
}

.navigation {
    display: none;
}

.bloco-1 {
    display: flex;
    flex-flow: column wrap;
}

.bloco-1 img {
    width: 88%;

    margin: 10px 6%;
}

.bloco-1 .text {
    margin: 0 6%;
}

.bloco-1 .text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.bloco-1 .text p {
    font-size: 1.2rem;
    color: var(--cor0);
    line-height: 30px;

    margin-bottom: 10px;
}

.comment-main {
    display: flex;
    align-items: center;
    gap: 10px;

    margin: 10px 6% 30px;
}

.comment-main .user-info h2 {
    font-size: 0.9rem;
}

.comment-main .user-info p {
    font-size: 0.9rem;
}

.bloco-2 {
    margin: 0 6%;
}

.comment-main-b2 {
    display: flex;
    align-items: center;
    gap: 10px;

    margin: 10px 0 30px;
}

.comment-main-b2 h1 {
    font-size: 0.9rem;
}

.comment-main-b2 p {
    font-size: 0.9rem;
    color: var(--cor0);
}

#article img {
    width: 100%;
}

#article .txt h1{
    font-size: 2rem;
    margin: 10px 0;
}

#article .txt p {
    margin: 0 0 20px;
}

footer {
    background-color: #fffbf5;
    padding: 20px 7%;
}