@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

body {
    height: 100vh;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 50%;
    padding-top: 40px;
}

.burguer {
    position: relative;
    top: -12px;

    border-radius: 10px;
    background-color: #fdf6fc;
    padding: 10px;
}

h1 {
    margin: 40px 20px;
}

form legend {
    margin: 0 20px
}

textarea {
    width: 90%;
    margin: 10px 20px;
    border: none;
    background-color: #fdf6fc;
}

::placeholder {
    padding: 10px;
    line-height: 20px;
}

button {
    padding: 5% 29%;
    margin: 10px 20px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;

    border: none;
    border-radius: 10px;
}

footer {
    margin: 40px 20px;
}