@charset "UTF-8";

@media only screen and (min-width: 768px) and (max-width: 992px){

    header p {
        padding-left: 40px;
    }

    .burguer {
        left: 93%;
    }

    #bloco-1 h1 {
        font-size: 3rem;
        letter-spacing: 2px;
        width: 90%;
        padding-left: 20px;
    }

    #bloco-1 p {
        padding-left: 20px;
        width: 85%;
    }

    #bloco-2-logos-mb {
        display: none;
    }

    #bloco-2-logos-pc {
        display: flex;
    }

    #bloco-2-logos-pc div{
        display: flex;
         flex-flow: row wrap;
         justify-content: center;
         column-gap: 14%;
         row-gap: 10px;

        padding-left: 100px;
    }

    #fotos {
        display: flex;
        flex-flow: column nowrap;
    }

    #bloco-3-fotos img {
        height: 400px;
        width: 93%;
        padding-left: 20px;
    }

    #bloco-3-fotos h2, p {
        padding-left: 40px;
        width: 95%;
    }

    footer {
        flex-flow: row nowrap;
    }

    footer div {
        display: inline-flex;
        padding-right: 5%;
    }
}

@media only screen and (min-width: 1200px) { 
    /* Config Notebooks+ */
    header svg {
        display: none;
    }

    header .git {
        display: block;
    }

    header {
        display: flex;
         flex-direction: row;
         justify-content: space-around;
         align-items: center;
         flex-wrap: wrap;

         margin-bottom: 40px;
    }

    nav {
        display: block;
    }

    nav a {
        font-family: 'Inter', sans-serif;
        text-decoration: none;
        color: lightgray;
        font-size: 0.9rem;
        padding: 20px;
    }

    nav ul li {
        display: inline-block;
        list-style: none;
    }

    #bloco-1 {
        padding-left: 157px;
        width: 700px;
    }

    #bloco-1 h1 {
        font-size: 2.5rem;
    }

    #bloco-1 p {
        font-size: 0.9rem;
        letter-spacing: 0;
        text-align: justify;
        width: 500px;
    }

    #bloco-2-logos-pc {
        display: flex;
    }

    #bloco-2-logos-pc div{
        display: flex;
         flex-flow: row wrap;
         justify-content: space-between;
         gap: 0px;
    
        margin-top: 20px;
        padding-left: 157px;

        width: 89%;
    }

    #bloco-2-logos-mb {
        display: none;
    }

    #fotos {
        display: flex;
        flex-flow: row nowrap;
        gap: 140px;

        padding-left: 140px;
        margin-top: 40px;
    }

    #bloco-3-fotos {
        width: 100%;
    }

    #bloco-3-fotos img {
        width: 700px;
        max-width: 71%;
    }

    #bloco-3-fotos p {
        padding-left: 20px;
        margin-bottom: 40px;
        max-width: 700px;
        width: 75%;
    }

    .b4 {
        display: flex;
        align-items: flex-end;
        justify-content: left;
        
        background-color: rgb(50, 50, 61);
        padding-bottom: 40px;
    }

    #bloco-4 h2 {
        padding-top: 40px;
        font-size: 1.7rem;
        width: 420px;
    }

    #bloco-4 p {
        padding-top: 0px;
        width: 420px;
    }

    #bloco-4 {
        width: 100%;
        padding-left: 145px;
    }

    aside {
        padding-top: 20px;
        padding-left: 145px;
        padding-bottom: 20px;
    }

    aside h2 {
        font-size: 1.5rem;
        width: 415px;
    }

    aside p {
        font-size: 0.9rem;
        width: 415px;
    }

    footer {
        justify-content: left;
        padding-left: 145px;
        gap: 63%;
    }
}